// COLORS
$color-primary: #5e3bee;
$color-primary-dark: #1c1e53;

$color-secondary: blue;
$color-tertiary: pink;

$color-white: #fff;
$color-black: #000;

$color-grey: #797979;

$color-github: #e26872;

$bg-shade: #f5fcff;

// FONT WEIGHT
$font-regular: 400;
$font-medium: 500;
$font-bold: 600;

// HEIGHT & WIDTH
$full-view-height: 100vh;
$full-view-width: 100%;
